/*
* @Author: 丑八怪
* @Date:   2017-07-20 18:13:10
* @Last Modified by:   丑八怪
* @Last Modified time: 2017-07-22 21:56:39
*/
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
:root{
	background: #f5f6f0;
}
header{
	width: 100%;
	height: 0.92rem;
	background: #0078e6;
	position: fixed;
	z-index: 999;

}
.border{
	width: 100%;
	height:0.82rem;
	background: red;
}
.box{
	width: 100%;
	height: 0.82rem;
	background: #0078e6;
}
.box a{
	width: 0.82rem;
	height: 0.67rem;
	background: url('../img/111037.png') no-repeat center center;
	background-size: 0.5rem 0.5rem;
	display: block;
	float: left;
	margin-left: 2.7rem;
	margin-top: 0.1rem;
}
h3{
	font-size: 0.26rem;
	color: white;
	line-height: 0.92rem;
	float: left;	
}
.banner{
	width: 100%;
	height: 2.8rem;
	background: white;
}
.banner img{
	width: 100%;
	height: 2.8rem;
}

.navList{
	width: 90%;
	height: 0.24rem;
	background: #f6f5fa;
	font-size: 0.22rem;
	line-height: 0.24rem;
	color: #494747;
	display: block;
	margin-top: 0.3rem;
	margin-left: 0.25rem;
	margin-bottom: 0.2rem;
}

.Box{
	width: 100%;
	height: 15.9rem;
	background: #f5f6fa;
	float: left;

}
.Box li{
	width: 94%;
	height: 1.86rem;
	background: white;
	display: block;
	margin: 0.1rem 0.25rem;
	overflow: hidden;
	position: relative;
}
.intro{
	width: 35%;
	height: 1.45rem;
	background: black;
	margin: 0.2rem;
	float: left;
}
h5{
	width: 15%;
	height: 0.4rem;
	background: white;
	float: right;
	display: block;
	margin-right: 3.1rem;
	margin-top: 0.3rem;
	font-size: 0.24rem;
	text-align: left;
	line-height: 0.4rem;
	border-bottom: 0.01rem dashed #444444;
	color: black;
}
.job{
	font-size: 0.1rem;
	color: #444444;
	position: absolute;
	top: 0.33rem;
	left: 3.8rem;
}
.salary{
	height: 0.2rem;
	color: #94d93b;
	font-size: 0.2rem;
	margin-top: 0.4rem;

}
.place{
	font-size: 0.22rem;
	color: #444444;
	margin-top: 0.55rem;
}
footer{
	width: 100%;
	height: 1.6rem;
	background:#f5f6fa;
	float: left;
}
.tiaozhuan {
	width: 100%;
	height: 0.7rem;
	background: #fff;
	position: relative;
	overflow: hidden;
}
.tiaozhuan div{
	width: 6.78rem;
	height: 0.31rem;
	margin-top: 0.19rem;
	margin-left: 0.37rem;
}
.tiaozhuan a:nth-of-type(1),.tiaozhuan a:nth-of-type(9){
	width: 0.58rem;
}
.tiaozhuan a:nth-of-type(9){
margin-right: 1.17rem;
}
.tiaozhuan a:nth-of-type(7){
	width: 0.35rem;
}
.tiaozhuan a:nth-of-type(11){
	margin-right: 0rem;
}
.tiaozhuan a{
	width: 0.32rem;
	height: 100%;
	display: block;
	margin-right: .16rem;
	float: left;
}
.tiaozhuan img{
	width: 100%;
	height: 100%;
	display: block;
}
.tiaozhuandao{
	display: block;
	height: 0.15rem;
	position: absolute;
	left: 5.05rem;
	top: 0.28rem;
	font-size: 0.16rem;
	color: #111111;
	line-height: 0.16rem;
	margin-left: 0.1rem;
	margin-right: 0.1rem;
}
.ye{
	display: block;
	height: 0.15rem;
	position: absolute;
	left: 6.6rem;
	top: 0.28rem;
	font-size: 0.16rem;
	color: #111111;
	line-height: 0.16rem;

}
.tiaozhuan input{
	position: absolute;
	right: 0.9rem;
	top: 0.17rem;
	width: 0.5rem;
	height: 0.3rem;
	border-color: #e3e2e3;
	border-radius: 0.2rem;

}
.tiaozhuan a:last-child{
	margin-left: 0.1rem;
}
.copyright{
	width: 100%;
	height: 0.4rem;
	font-size: 0.1rem;
	color: #737373;
	background: #f5f6fa;
	text-align: center;
	margin-top: 0.3rem;
}
.copyright2{
	width: 100%;
	height: 0.4rem;
	font-size: 0.1rem;
	color: #737373;
	background: #f5f6fa;
	text-align: center;
}